html {
  height: 100%;
}
body {
  font-family: monospace;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

#container {
  margin: 2vh;
}

tr,
td {
  width: 40px;
  height: 40px;
}

table {
  border: 3px solid #555;
  background-color: #000000;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 20pt;
}
td[data-fill="1"]:before {
  content: "🟡";
}
.apple td[data-fill="1"]:before {
  content: "🟢";
}
td[data-fill="x"][data-variation="0"]:before {
  content: "😵";
}
td[data-fill="x"][data-variation="1"]:before {
  content: "🥴";
}
td[data-fill="x"][data-variation="2"]:before {
  content: "😣";
}
td[data-fill="x"][data-variation="3"]:before {
  content: "💀";
}
td[data-fill="x"][data-variation="4"]:before {
  content: "😭";
}
td[data-fill="*"][data-variation="0"]:before {
  content: "🍎";
}
td[data-fill="*"][data-variation="1"]:before {
  content: "🍭";
}
td[data-fill="*"][data-variation="2"]:before {
  content: "🍕";
}
td[data-fill="*"][data-variation="3"]:before {
  content: "🍔";
}
td[data-fill="*"][data-variation="4"]:before {
  content: "🥪";
}
td[data-fill="@"]:before {
  content: "🙂";
}
.apple td[data-fill="@"][data-variation="0"]:before {
  content: "🤩";
}
.apple td[data-fill="@"][data-variation="1"]:before {
  content: "😁";
}
.apple td[data-fill="@"][data-variation="2"]:before {
  content: "😋";
}
.apple td[data-fill="@"][data-variation="3"]:before {
  content: "🤣";
}
.apple td[data-fill="@"][data-variation="4"]:before {
  content: "😎";
}
#message {
  font-size: xx-large;
  font-weight: 800;
  color: #e17141;
  margin-top: 20px;
}
.center {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid gray;
  color: black;
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 50px;
}
button.current-direction,
#start:hover {
  border: 1px solid #e17141 !important;
  background-color: #e17141 !important;
  color: white;
}
button:disabled {
  color: lightgray;
  border-color: lightgray;
  background-color: transparent;
}
#start {
  font-size: 18pt;
  width: 100px;
  margin-top: 30px;
  background-color: #4caf50;
  color: white;
}
#score {
  font-size: 36pt;
  margin-top: 25px;
}

#record {
  font-size: 12pt;
  margin-top: 10px;
}

#time {
  height: 10px;
}

.gameover {
  border: 3px solid #ff0000;
  animation: crash 1s ease 0s 1 normal none;
}
.apple {
  animation: eat 0.5s ease 0s 1 normal none;
}

@keyframes crash {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes eat {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 30px 10px #4caf50;
  }
}
